In [19]:

import os
from dotenv import load_dotenv
import google.generativeai as genai
import logging
import pandas as pd
import pandasql as ps

In [20]:
def respond_to_question(dataframe, sql_query):

    # Vérifier si la question est liée à la base de donnéesµ
        # Vérifier que la requête contient "SELECT"
    if "SELECT" in sql_query.upper():
        try:
                # Passer le DataFrame avec le nom de la table correct
            result = ps.sqldf(sql_query, {'players': dataframe})
            return result
        except Exception as e:
            return f"no result found: {e}"
    else:
        return "Generated SQL query is not a valid SELECT statement."

# ------------------------

In [40]:
players=pd.read_csv("football_players_n.csv")

In [34]:
import re

def extract_sql_code(response_text):
    # Expression régulière pour extraire le code SQL des blocs de code markdown
    pattern = r'```sql\s*(.*?)\s*```'
    match = re.search(pattern, response_text, re.DOTALL)
    if match:
        return match.group(1).strip()
    else:
        return "No SQL query found in the response."

In [37]:
def prompt_gemmi(question):
    
    start_prompt =f""""
        You are an expert in converting natural language questions into SQL queries. 
        The SQL database schema is provided below:
        Table: players
        Columns:
            - Name (TEXT)
            - Age (INTEGER)
            - Position (TEXT)
            - Nationality (TEXT)
            - Matches_Played (INTEGER)
            - Goals_Scored (INTEGER)
            - Assists (INTEGER)
            - Yellow_Cards (INTEGER)
            - Red_Cards (INTEGER)
            - Height_CM (INTEGER)
            - Weight_KG (INTEGER)
        It is important that the column names used in your SQL query match exactly with the column names in the schema. 
        Ensure that any aliases you use for columns in the SQL query also correctly match the schema names or are clearly defined.
        Here are some examples:
        Question: List all players
        SQL Query: SELECT * FROM players;
        Question: What are the names and ages of players who scored more than 20 goals?
        SQL Query: SELECT Name, Age FROM players WHERE Goals_Scored > 20;
        Question: Find the player with the highest number of assists
        SQL Query: SELECT Name, Assists FROM players ORDER BY Assists DESC LIMIT 1;
        Question: Which players are taller than 180 cm and weigh less than 80 kg?
        SQL Query: SELECT Name FROM players WHERE Height_CM > 180 AND Weight_KG < 80;
        Guidelines:
        1. Ensure the SQL code is syntactically correct and does not include delimiters like `;`.
        2. Avoid SQL keywords or delimiters in the output.
        3. Handle different variations of questions accurately.
        4. The SQL code should be valid, executable, and not contain unnecessary delimiters.
        """
    return start_prompt

In [38]:
logging.basicConfig(level=logging.INFO)
logger = logging.getLogger(__name__)
genai.configure(api_key="AIzaSyBnSiARS6ZOPw6AYAw_3fHThPgJg0wRk3Q")

# Initialize Google Gemini Model
model = genai.GenerativeModel('gemini-pro')

# Function to load Google Gemini Model and provide queries as response
def get_gemini_response(prompt, question):
    try:
        response = model.generate_content([prompt, question])
        return response.text
    except Exception as e:
        logger.error(f"Error generating response: {e}")
        return None

In [39]:

question= 'list all players'
result=get_gemini_response(prompt_gemmi(question), question)
print(result)

SELECT * FROM players;

In [25]:

question= 'list all players'
result=get_gemini_response(prompt_gemmi(question), question)

In [35]:
print(result)

```sql
SELECT * FROM players;
```

In [42]:
print(respond_to_question(players,result))

                   Name  Age    Position  \
0         Joshua Burton   22  Midfielder
1        Jennifer Heath   26     Forward
2       Stephanie Heath   23     Forward
3         Daniel Tanner   24     Forward
4         Thomas Peters   31  Goalkeeper
5       Andrew Gallegos   28    Defender
6    Rebecca Stephenson   35  Midfielder
7          Thomas Wells   18  Midfielder
8        Richard Graham   20  Midfielder
9           Laura Craig   27  Midfielder
10        Ashley Sutton   16     Forward
11          Kevin Craig   19  Midfielder
12         Dennis Boyer   36    Defender
13         Peter Kelley   26    Defender
14          Paul Henson   32     Forward
15          Jeremy Cruz   35  Midfielder
16          Cindy Mills   20  Midfielder
17      Johnny Jones MD   32    Defender
18         Zachary Carr   19  Midfielder
19        Alice Griffin   29     Forward
20      Kaitlyn Fuentes   24  Goalkeeper
21         Steven Davis   19     Forward
22     Stephanie Fields   23  Midfielder
23        Tammy Sweeney   24    Defender
24       Anthony Fisher   32  Goalkeeper
25         Derek Fowler   35  Goalkeeper
26       Chloe Griffith   33    Defender
27         Daniel Huang   23    Defender
28          Lisa Garcia   36  Goalkeeper
29          Rita Jordan   24  Midfielder
30    Elizabeth Edwards   19    Defender
31        William Perry   28  Goalkeeper
32         Jordan Cohen   16  Goalkeeper
33     Candice Crawford   31  Midfielder
34        Sarah Barrera   16     Forward
35          Scott Quinn   26     Forward
36            Troy Dunn   26     Forward
37    Dennis Richardson   22     Forward
38       Crystal Martin   32  Goalkeeper
39    Kimberly Mitchell   25    Defender
40       Alexander Hill   34  Goalkeeper
41      Joanna Gallegos   33    Defender
42       Joshua Jenkins   34    Defender
43  Adrienne Abbott DDS   33     Forward
44      Samantha Thomas   26  Goalkeeper
45    Jacqueline Martin   29  Midfielder
46        Jordan Harris   35  Goalkeeper
47        Caleb Johnson   27     Forward
48          Mike Walker   23  Goalkeeper
49     Kristen Benjamin   27  Midfielder

                                          Nationality  Matches_Played  \
0                                              Malawi              46
1                                               Malta              11
2                                      Cayman Islands              55
3                                             Hungary              44
4                                               Chile              86
5                                             Bermuda              99
6                                              Belize              15
7                                             Bahamas              84
8                                               Haiti              55
9                                             Belarus              68
10                                            Reunion              15
11                       United States Virgin Islands              40
12                                          Nicaragua              57
13                                             Canada              16
14                                              Aruba              36
15                                              Benin              76
16                         Slovakia (Slovak Republic)               5
17                                        Afghanistan              22
18                                        Isle of Man              21
19                                              Samoa              87
20                                            Romania              97
21  British Indian Ocean Territory (Chagos Archipe...              88
22                                Antigua and Barbuda              40
23                                           Bulgaria              41
24                                             Cyprus              87
25                                            Iceland              68
26                                        Timor-Leste              97
27                                             Jordan               4
28                                              Macao              76
29                                  Brunei Darussalam              33
30                                         Seychelles              10
31                                          Mauritius              77
32                                         Montserrat              16
33                                         Mauritania              52
34                                            Morocco              36
35                                           Mongolia              13
36                                 Dominican Republic              29
37                                       Cook Islands              48
38                                             Sweden              94
39                                         San Marino               1
40                                      Guinea-Bissau              33
41                                            Comoros              15
42                          Bouvet Island (Bouvetoya)              99
43                                              Sudan              72
44                                          Mauritius              24
45                                           Botswana              27
46                                              Congo              89
47                                             Malawi              97
48                                              Congo              68
49                                          Mauritius              85

    Goals_Scored  Assists  Yellow_Cards  Red_Cards  Height_CM  Weight_KG
0             14       18             0          1        181         76
1              8       11             0          1        176         64
2             32       21            10          1        172         81
3             47       17             0          1        171         60
4              8       19             3          0        174         71
5             24       25             7          1        177         77
6             32       26             9          0        177         92
7             34       15            10          2        166         77
8              6       19             6          0        168         73
9             12       23             8          0        175         70
10            24       13             1          2        172         66
11            27        2             6          2        194         92
12            37       20             6          0        185         95
13            25       27             6          1        177         87
14            24       19             9          1        193         75
15            17       14             7          2        186         81
16            43       28             8          1        180         82
17            46       12            10          1        195         84
18            50       27             2          0        186         91
19            50       26             1          0        166         91
20            36        5             8          1        188         92
21            11       19             7          1        174         82
22            29       16             3          2        168         61
23            13       14             4          2        184         87
24            30       24             3          0        199         95
25             4       15             6          1        181         92
26            20       22             1          0        199         94
27            35        6             4          1        188         92
28            27       24             7          2        164         74
29            33       22             4          2        188         83
30            16       13            10          2        195         88
31             5       24             1          1        178         93
32            25       26             9          1        195         90
33            35        7             4          1        170         78
34            14        2             3          1        184         63
35            50        3            10          2        183         85
36            25        6             7          2        193         82
37            11        8             3          1        186         75
38            30       25             4          1        192         89
39            17       14             4          1        175         64
40             1        1            10          0        191         84
41            33       24             1          1        176         64
42            37        7             6          1        165         81
43            11       27             8          2        168         82
44             2        2             7          1        199         73
45            28        5             9          0        169         61
46            14       17             0          1        182         74
47            18        6             8          2        198         63
48            28       19             6          1        171         64
49             1        3             2          1        189         81

In [ ]:
def respond_to_question(question, dataframe, prompt):
    related_keywords = ['players', 'name', 'age', 'position', 'nationality',
                        'matches played', 'goals scored', 'assists',
                        'yellow cards', 'red cards', 'height', 'weight']

    # Vérifier si la question est liée à la base de données
    if any(keyword in question.lower() for keyword in related_keywords):
        # Générer la requête SQL
        sql_query = get_gemini_response(prompt, question)
        sql_query = sql_query.strip('"')

        # Vérifier que la requête contient "SELECT"
        if "SELECT" in sql_query.upper():
            try:
                # Passer le DataFrame avec le nom de la table correct
                result = ps.sqldf(sql_query, {'players': dataframe})
                return result
            except Exception as e:
                return f"no result found: {e}"
        else:
            return "Generated SQL query is not a valid SELECT statement."
    else:
        # Générer une réponse conversationnelle
        response = generate_conversational_response(question)
        #response = "no data found here"
        return response